.footer-links {
    background: transparent !important;
    width: 100%;
    h1 {
      font-size: 25px;
      font-weight: 700;
      line-height: 36px;
      color: #8c568f;
      margin-bottom: 30px;
      letter-spacing: 2px;
      font-family: "Brooklyn-Heavy";
      text-align: center;
    }
  }
  